<mat-grid-list cols="4" rowHeight="4:5">
     <mat-grid-tile  *ngFor="let news of newsArticles">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{news.title}}</mat-card-title>
              <mat-card-subtitle>{{news.source.name}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{news.urlToImage}} alt="Photo of a News">
            <mat-card-content>
              <p>
               {{news.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>        
     </mat-grid-tile>  
  </mat-grid-list>
  
  