.container{
    margin: 5%;
    border: 2px solid black
}
#links{
    padding-left: 20%;
    font-family: Monotype Corsiva;
    font-size: 18px;
   }

   #content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-right: 5%;
    padding-bottom: 20%;
   
}


#content_img {
    width: 20%;

   border:1px solid black;
   border-radius: 10%;
margin-top: 5%;
}

.footer{
   
    height:"60%";
    background-color: blue;
    color: white;
    text-align: center;
}
